<!DOCTYPE html>
<html>
	<head>

	<meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
	{% load static %}
	<script src="{% static "js/test.js" %}"></script>
    <style type="text/css">
    	body{
    		font-family: Microsoft JhengHei;
    	}
    </style>
	</head>
	<body>
	 	<div class= "container">
		<h1>商品清單</h1>
		<p>目前總共有 {{commodity | length}} 筆資料</p>
		<a href="insert/" class="btn btn-primary btn-lg">新增資料</a>
		<table  class="table table-striped table-bordered" width="1000">
			<th>{{ commodity_id }}</th>
			<th>{{ commodity_name }}</th>
			<th>{{ commodity_num }}</th>
			<th>{{ commodity_date }}</th>
			<th>{{ commodity_dis }}</th>
			<th>{{ commodity_img }}</th>
			<th>{{ commodity_price }}</th>			
			<th></th>
		{% for n in commodity %}
			<tr>
				<td>{{ n.commodity_id }}</td>
				<td>{{ n.commodity_name }}</td>
				<td>{{ n.commodity_num }}</td>
				<td>{{ n.commodity_date }}</td>
				<td>{{ n.commodity_dis }}</td>
				<td><img src="{{ n.commodity_img }}" height="100"></td>
				<td>{{ n.commodity_price }}</td>
				<td>
					<a href="detail/{{ n.commodity_id }}/" class="badge badge-success">詳細資訊</a></br>
					<a href="update/{{ n.commodity_id}}/" class="badge badge-warning">修改資訊</a></br>
					<a href="delete/{{ n.commodity_id }}/" class="badge badge-danger">刪除此筆</a></br>
				</td>
			</tr>
		{% endfor %}
		</table>
		</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
